<mat-progress-spinner class="spinner" *ngIf="isLoading" mode="indeterminate" color="primary"></mat-progress-spinner>
<div class="container" fxLayout="row" fxLayout.xs="column" fxFlexAlign="space-around center">
    <div fxFlex="2"></div>
    <div fxFlex class="example-container">
        <div fxLayout="row" fxLayout.xs="row" fxFlexAlign="space-between center">
            <div fxFlex><h2 class="headers">To do</h2></div>
            <div fxFlex class="icon-add" (click)="openDialog()">
                <span>Add new item</span>
                <mat-icon>add</mat-icon>
            </div>
        </div>
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="reset($event)">
          <div class="example-box" fxLayout="column" fxFlexAlign="space-around center" *ngFor="let task of todo" 
          cdkDrag (cdkDragStarted)="dragStart($event, task)">
              <app-task [task] ="task"></app-task>
          </div>
        </div>
    </div>
    <div fxFlex="2"></div>
    <div fxFlex class="example-container">
        <h2 class="headers">Done</h2>
      
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList]"
          class="example-list"
          (cdkDropListDropped)="complete($event)">
          <div class="example-box" *ngFor="let item of done" 
          cdkDrag (cdkDragStarted)="dragStart($event, item)">
            <app-task [task] ="item"></app-task>
          </div>
        </div>
    </div>
    <div fxFlex="2"></div>
</div>