@import "../../../node_modules/@angular/material/theming";
$my-theme-primary: mat-palette($mat-indigo, 500);
$my-theme-accent: mat-palette($mat-indigo, 900);
$my-theme-warn: mat-palette($mat-red);
$principal-theme: mat-light-theme( $my-theme-primary, $my-theme-accent, $my-theme-warn);
$primary: map-get($principal-theme, primary);
$accent: map-get($principal-theme, accent);
$warn: map-get($principal-theme, warn);
$foreground: map-get($principal-theme, foreground);
$background: map-get($principal-theme, background);
$color-third: #37aeeb;
$color-primary: #37aeeb;
$color-secondary: #173753;
$color-success: #30cc71;
$color-warn: #ed254e;
$color-accent: #ffa200;
$color-background-light: white;
$color-background-dark: #f5f9ff;
$color-secondary-gray: #b3b3b3;
$color-picker-border: #DEDFE2;
$color-scroll-primary: #3cb0e0;
$color-room-number: #2278ff;
$color-white: white;
