._action {
    text-align: right;
    display: flex;
    .edit-icon{
        color: green;
        mat-icon{
            font-size: large;
        }
        cursor: pointer;
    }
    .remove-icon {
        color: red;
        cursor: pointer;
    }
}
.action {
    text-align: right;
    .edit-icon{
        color: green;
        mat-icon{
            font-size: 20px;
        }
        cursor: pointer;
        margin-right: 10px;
    }
    .remove-icon {
        color: red;
        cursor: pointer;
    }
}