<mat-toolbar color="primary">
  <div fxFlex fxLayout fxLayoutAlign="end center">
    <div fxFlex>
      <button mat-button>toDo App</button>
    </div>
    <div fxFlex="25"></div>

    <div fxFlex>
      <mat-label>{{toDay | date: 'dd/MM/yyyy'}}</mat-label>
    </div>
  
    <div fxFlex>
      <mat-list class="navigation-items" fxLayout fxLayoutAlign="end center">
        <mat-list-item class="logout-container">
          <button mat-icon-button>
            <mat-icon>power_settings_new</mat-icon>
          </button>
          <mat-label>Déconnexion</mat-label>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>

