<mat-toolbar color="primary">
  <div fxFlex fxLayout fxLayoutAlign="end center">
    <div fxFlex>
      <button mat-button>toDo App</button>
    </div>
    <div fxFlex="25"></div>

    <div fxFlex>
      <mat-label>{{toDay | date: 'dd/MM/yyyy'}}</mat-label>
    </div>
  
    <div fxFlex class="menu">
      <div fxLayout="row" fxLayoutAlign="end center">
        <div fxFlex>
          <button mat-icon-button *ngIf="userValue" (click)="logout()">
            <mat-icon>power_settings_new</mat-icon>LogOut
          </button>
          <button mat-icon-button *ngIf="!userValue" routerLink="/auth">
            <mat-icon>input</mat-icon>Login
          </button>
        </div>
        <div fxFlex="5%"></div>
        <div fxFlex *ngIf="userValue">
          <mat-list-item>
            <mat-label>{{userValue.email.split("@")[0]}}</mat-label>
          </mat-list-item>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>

